nav.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  position: fixed;
  background: $blackColor;
  width: 100%;
  top: 0;
  z-index: 1;
  .logo {
    font-size: 34px;
    color: $orangeColor;
    text-decoration: none;
    font-weight: bold;
  }
  div {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: $beigeColor;
    a {
      color: $beigeColor;
      text-decoration: none;
      font-size: 18px;
      margin-left: $spacing-medium;
      svg {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 350px) {
  nav.navbar {
    .logo {
      font-size: 28px;
    }
  }
}

@media (min-width: 860px) {
  nav.navbar {
    height: 100px;
    padding: 1.5rem;
    .logo {
      font-size: 55px;
    }
    div {
      a {
        font-size: 30px;
        font-weight: 600;
        margin-left: $spacing-xlarge;
      }
    }
  }
}

@media (min-width: 1200px) {
  nav.navbar {
    & > a label {
      display: inline;
      color: $beigeColor;
      font-size: 40px;
      position: absolute;
      top: 28px;
      margin-left: $spacing-medium;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
