#Admin {
  .Hero {
    min-height: calc(100vh - 70px);
    background: linear-gradient(rgba(46, 44, 42, 0.7), rgba(46, 44, 42, 0.7)),
      url("../../assets/images/hero-admin.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-small;
    margin-top: 70px;
    padding: 2rem;
    .btn-container {
      display: flex;
      gap: $spacing-medium;
      justify-content: center;
      flex-wrap: wrap;
    }
    img {
      margin-bottom: 24px;
      min-width: 160px;
      width: 30%;
    }
    h1 {
      color: $beigeColor;
      margin-bottom: $spacing-medium;
    }
  }
  #add-category {
    background-color: $beigeColor;
    padding: 2rem;
  }
  #add-product {
    background-color: $lightGreyColor;
    padding: 2rem;
  }
  section {
    h2 {
      color: $orangeColor;
      text-align: center;
      margin-bottom: $spacing-large;
    }
    form {
      .error-text {
        color: #ee0000;
        text-align: left;
        margin: 0 0 $spacing-small 0;
        font-size: 12px;
      }
      label {
        margin-bottom: $spacing-medium;
        display: block;
        position: relative;
        &:has(.currency) input {
          padding-right: 60px !important;
        }
        span {
          color: $blackColor;
          font-size: 16px;
          font-weight: bold;
          display: block;
          margin-bottom: $spacing-small;
        }
        .currency {
          position: absolute;
          top: 10px;
          right: 20px;
          position: absolute;
          top: 40px;
          font-weight: normal;
          opacity: 0.9;
        }
        input[type="text"],
        textarea,
        select {
          border: solid 1px $orangeColor;
          border-radius: 5px;
          height: 43px;
          background-color: $whiteColor;
          width: 100%;
          padding: 10px;
          &:focus {
            outline: none;
          }
        }
        textarea {
          height: 90px;
        }
        select {
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
          appearance: none;
          background: url("../../assets/images/chevron-down-solid.svg")
            no-repeat 95% center $whiteColor;
        }
      }
    }
  }
}

#Menu.admin-menu {
  .view-menu {
    display: none;
  }
  .delete-category {
    display: block !important;
    width: 150px;
  }
}

@media (min-width: 860px) {
  #Admin {
    .Hero {
      height: calc(100vh - 100px);
      margin-top: 100px;
      img {
        margin-bottom: $spacing-large;
      }
      p {
        font-size: 24px;
      }
    }
    #add-category,
    #add-product {
      label {
        span {
          font-size: 20px;
          margin-bottom: $spacing-small;
        }
        margin-bottom: $spacing-large;
      }
      * {
        max-width: 650px;
        margin: 0 auto;
      }
    }
  }
}
