.Hero {
  min-height: calc(100vh - 70px);
  background: linear-gradient(rgba(46, 44, 42, 0.7), rgba(46, 44, 42, 0.7)),
    url("../../assets/images/hero-img.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-small;
  margin-top: 70px;
  padding: 2rem;
  img {
    margin-bottom: 24px;
    min-width: 160px;
    width: 30%;
  }
  h1 {
    color: $beigeColor;
  }
  p {
    font-size: 16px;
    text-align: center;
    color: $beigeColor;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

@media (min-width: 860px) {
  .Hero {
    height: calc(100vh - 100px);
    margin-top: 100px;
    p {
      font-size: 24px;
    }
  }
}
