// Main Colors
$beigeColor: #e6cdb1;
$whiteColor: #fff;
$lightGreyColor: #efeceb;
$blackColor: #2e2c2a;
$orangeColor: #d3572e;

//Main spacing styles
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$spacing-xlarge: 46px;
